<h1>{{ person?.name }}</h1>
<h3>{{ person?.species$ | async }}</h3>

<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center">
		birth year
		<span class="badge badge-primary badge-pill">{{ person?.birthYear }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		height
		<span class="badge badge-primary badge-pill">{{ person?.height }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		mass
		<span class="badge badge-primary badge-pill">{{ person?.mass }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		hair color
		<span class="badge badge-primary badge-pill">{{ person?.hairColor }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		skin color
		<span class="badge badge-primary badge-pill">{{ person?.skinColor }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		gender
		<span class="badge badge-primary badge-pill">{{ person?.gender }}</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		number of vehicles
		<span class="badge badge-primary badge-pill">{{ person?.vehiclesNum }}</span>
	</li>
</ul>

<div *ngIf="(person?.starships$ | async)?.length">
	<h3>Starships:</h3>
	<ul>
		<li *ngFor="let starship of person?.starships$ | async">{{ starship.name }} / {{ starship.model }}</li>
	</ul>
</div>
